# Network Configuration
RPC_URL=<YOUR_RPC_URL>
PRIVATE_KEY=<YOUR_PRIVATE_KEY>
ETHERSCAN_API_KEY=<YOUR_ETHERSCAN_API_KEY>
REPORT_GAS=<YOUR_REPORT_GAS>

# Deployment Configuration
DEFAULT_ADMIN=<YOUR_DEFAULT_ADMIN>
TREASURY=<YOUR_TREASURY>
BASE_URI=<YOUR_BASE_URI>

# Payment Tokens
USDT_ADDRESS=<YOUR_USDT_ADDRESS>
USDC_ADDRESS=<YOUR_USDC_ADDRESS>

# PioneerNFT Contract
NFT_CONTRACT_ADDRESS=<YOUR_NFT_CONTRACT_ADDRESS>

# Launchpad Contract
LAUNCHPAD_CONTRACT_ADDRESS=<YOUR_LAUNCHPAD_CONTRACT_ADDRESS>