# Network Configuration
RPC_URL=<YOUR_RPC_URL>
PRIVATE_KEY=<YOUR_PRIVATE_KEY>
ETHERSCAN_API_KEY=<YOUR_ETHERSCAN_API_KEY>

# Deployment Configuration
DEFAULT_ADMIN=<YOUR_DEFAULT_ADMIN>
TREASURY=<YOUR_TREASURY>
BASE_URI=<YOUR_BASE_URI>

# Payment Tokens
USDT_ADDRESS=<YOUR_USDT_ADDRESS>
USDC_ADDRESS=<YOUR_USDC_ADDRESS>

# Pioneer NFT
NFT_CONTRACT_ADDRESS=<YOUR_NFT_CONTRACT_ADDRESS>